/* Roboto Thin font */
@font-face {
  src: url(fonts/Roboto/Roboto-Thin.ttf);
  font-family: roboto-thin;
}

/* Oswald Regular font */
@font-face {
  src: url(fonts/Oswald/static/Oswald-Regular.ttf);
  font-family: oswald-regular;
}

/* Styling for body */
body {
  background-color: rgb(45, 42, 42);
  color: white;
  margin-top: 190px;
}

/* Centers clock and buttons */
.clock, .buttons-div {
  display: flex;
  justify-content: center;
}

/* Sets clock font */
.clock, input {
  font-family: roboto-thin;
}

/* Custom styling for input boxes */
input {
  background: transparent;
  border: none;
  outline: none;
  width: 270px;
  height: 160px;
  font-size: 200px;
  color: white;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* Styling for +/- buttons */
.up-down {
  display: inline-block;
  width: 22px;
  position: relative;
  left: -40px;
  top: 50px;
}

.up-down-buttons {
  width: 30px;
  height: 30px;
  margin: 6px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

/* Hides +/- buttons when timer is running */
.hide {
  visibility: hidden;
}

/* Styling for + button */
.add {
  background-color: rgb(111, 111, 190);
  color: white;
}

.add:hover {
  background-color: rgb(138, 138, 226);
}

/* Styling for - button */
.subtract {
  background-color: rgb(185, 185, 189);
}

.subtract:hover {
  background-color: rgb(240, 240, 245);
}

/* Styling for ":" elements */
span {
  position: relative;
  top: -40px;
  left: -10px;
  font-size: 200px;
}

/* Decreases width of input boxes when timer is running */
.running {
  width: 210px;
}


/* Styling for start/stop and reset buttons */
.buttons {
  height: 70px;
  width: 140px;
  font-size: 35px;
  font-family: oswald-regular;
  margin-top: 60px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 3px;
}

/* Styling for Start/Stop button */
.buttons:first-of-type {
  margin-right: 50px;
  background-color: rgb(111, 111, 190);
}

.buttons:first-of-type:hover {
  background-color: rgb(138, 138, 226);
}

/* Styling for Reset button */
.buttons:nth-child(2) {
  color: black;
  background-color: rgb(185, 185, 189);
}

.buttons:nth-child(2):hover {
  background-color: rgb(240, 240, 245);
}